{% extends "layout.html" %}

{% block title %}
App Page
{% endblock %}

{% block content %}
<h1>This is the Home Page for APP.</h1>

<div class="grid grid-cols-3 gap-4 m-4">

    {% for app in apps %}
     <div class="bg-green-800 p-5 rounded">
         <img class="rounded shadow-lg" src="{{app.image.url}}" alt="">
         <h3 class="text-2xl font-bold">{{app.name}}</h3>
         <a href="{% url 'app_detail' app.id %}">
            <button
            type="botton"
            class ="bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50">
                {{app.type}} - {{app.id}}
            </button>
         </a>
     </div>
 
 {% endfor %}
</div>

{% endblock %}
